language: ruby
rvm:
  - 1.9.3
  - jruby-19mode # JRuby in 1.9 mode
  - rbx-19mode
services: postgresql
before_script:
  - psql -c 'create database rails_new_lab_test;' -U postgres
  - bundle exec rake db:migrate